<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Inventory</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css" >
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/wines">Wine Inventory</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/wines">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href ="/wines/new">Add a Wine</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <h1>Wine Inventory Configuration Page</h1>

<!-- Adding a Country  -->
    <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Add a Country</div>
        <div class="card-body">
          <!-- <h4 class="card-title">Primary card title</h4> -->
          <form action="/configs/countries" method="POST">
            Country:  <input type="text" name="countryName">
            <input type="submit" value="Add"/>
            </form>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>
      
<!-- Adding a Producer  -->
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Add a Producer</div>
        <div class="card-body">
          <!-- <h4 class="card-title">Primary card title</h4> -->
          <form action="/configs/producers" method="POST">
            Producer:  <input type="text" name="producerName">
            <input type="submit" value="Add"/>
            </form>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>
     
<!-- Adding a Seller  -->
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Add a Seller</div>
  <div class="card-body">
    <!-- <h4 class="card-title">Primary card title</h4> -->
    <form action="/configs/sellers" method="POST">
      Producer:  <input type="text" name="sellerName">
      <input type="submit" value="Add"/>
      </form>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
</div>
<!-- Adding a Tasting Note  -->
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Add a Tasting Note</div>
  <div class="card-body">
    <!-- <h4 class="card-title">Primary card title</h4> -->
    <form action="/configs/notes" method="POST">
      Tasting Note:  <input type="text" name="name">
      <input type="submit" value="Add"/>
      </form>
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
</div>

<!-- Deleting a Country  -->
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Delete a Country</div>
        <div class="card-body">
          <form action="/configs/countries?_method=DELETE" method="POST">
            Country:
            <select name="countryId">
              <% countries.forEach ((eachCountry, index)=> { %>
                <option value="<%=countries[index].id%>">
                  <%=countries[index].countryName %>
                </option>
                <% }) %>
            </Select>
            <input type="submit" value="Delete" />
          </form>
          <!-- <h4 class="card-title">Primary card title</h4> -->
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>

      <!-- Deleting a Producer  -->
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Delete a Producer</div>
        <div class="card-body">
          <form action="/configs/producers?_method=DELETE" method="POST">
            Producer:
            <select name="producerId">
              <% producers.forEach ((eachProducer, index)=> { %>
                <option value="<%=producers[index].id%>">
                  <%=producers[index].producerName %>
                </option>
                <% }) %>
            </Select>
            <input type="submit" value="Delete" />
          </form>
          <!-- <h4 class="card-title">Primary card title</h4> -->
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>
    
       <!-- Deleting a Seller  -->
       <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Delete a Seller</div>
        <div class="card-body">
          <form action="/configs/sellers?_method=DELETE" method="POST">
            Seller:
            <select name="sellerId">
              <% sellers.forEach ((eachSeller, index)=> { %>
                <option value="<%=sellers[index].id%>">
                  <%=sellers[index].sellerName %>
                </option>
                <% }) %>
            </Select>
            <input type="submit" value="Delete" />
          </form>
          <!-- <h4 class="card-title">Primary card title</h4> -->
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>

      <!-- Deleting a Tasting Note  -->
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">Delete a Tasting Note</div>
        <div class="card-body">
          <form action="/configs/notes?_method=DELETE" method="POST">
            Tasting Note:
            <select name="noteId">
              <% notes.forEach ((eachNote, index)=> { %>
                <option value="<%=notes[index].id%>">
                  <%=notes[index].name %>
                </option>
                <% }) %>
            </Select>
            <input type="submit" value="Delete" />
          </form>
          <!-- <h4 class="card-title">Primary card title</h4> -->
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
      </div>
    
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>