<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Inventory</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css" >
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>
<body>
    <h1>Wine Inventory Index Page</h1>
    <!-- <ol>
        <% wines.forEach ((wine, index) => { %>
        <li>
             <a href="/wines/<%= wine.id %>"><%= wine.name %></a>
             <!-- ADD DELETE FORM HERE -->
            
            <!-- <form action="/wines/<%= wine.id %>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE"/>
            </form>  -->
        <!-- </li>
        <% }) %>
    </ol> --> 
<table>
    <tr>
        <td>Producer</td><td>Type</td><td>Year</td><td>ID</td>
    </tr>
    <% wines.forEach ((wine, index) => { %>
        <tr>
            <td><%= wine.Producer.producerName %></td> <td> <%= wine.name %> </td> <td> <%= wine.year %></td><td><a href="/wines/<%= wine.id %>"><%= wine.id %></a>   </td>
        </tr>
        <% }) %>
</table>

    <nav> 
       <br />
       <a href ="/wines/new">Add a new Wine</a>
   </nav>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>