<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Inventory</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css" >

</head>
<body>
    <h1>Wine Show Page</h1>
   Your Wine <%= wine.name %> <br>
    <!-- <img src= pokemon.img % >  -->
    <br />
    <h2>Wine Details</h2>
    <ul>Producer: <%= wine.Producer.producerName %> </ul>
    <ul>Type: <%= wine.name%> </ul>
    <ul>Vintage:  <%= wine.year %> </ul>
    <ul>Price per bottle:  <%= wine.price %> </ul>
    <ul>Quantity in stock:  <%= wine.quantity %> </ul>
    <ul>Your rating:  <%= wine.rating %>  out of 5.0 </ul>
    <ul>Tasting notes:  
          <% wine.Notes.forEach  ((note, index) => { %>
            <%= wine.Notes[index].name %> , 
          <% }) %>
          </ul>
    <ul>Color:  <%= wine.color %> </ul>
    <ul>From:  <%= wine.Country.countryName %> </ul>
    <ul>Purchased at:  <%= wine.Seller.sellerName %> </ul>
    <ul>Additional comments:  <%= wine.generalNotes %> </ul><br />
    <ul>Last Updated:  <%= wine.updatedAt %> </ul>


  
        <form action="/wines/<%= wine.id %>/edit">
        <input type="submit" value="Edit Wine"/>
        <!-- <form action="https://google.com">
            <input type="submit" value="Go to Google" /> -->
        </form>
        <!-- <a href ="/wines/<%= wine.id %>/edit">Edit this Wine</a> -->
  
    <br />

     <!--  ADD DELETE FORM HERE-->
    
        <!-- <form action="/wines/<%= wine.id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
    
        </form> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

</body>
</html>